html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


fieldset {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Filter */

#filter {
    margin: 20px;
}

#filter h4 {
    text-align: center;
}

/* Cluster */

#cluster {
    display: none;
    text-align: center;
}

/* Results */

#results {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
