#input_panel {
    display: inline-block;
    clear: both;
    width:800px;
}

#algo_panel {
    display: inline-block;
    clear:both;
    width: 800px;
}
#output_panel {
    display: none;
    clear:both;
    text-align: center;
    width: 800px;
}

#data_panel {
    display:table;
    float: left ;
    clear: both;
    width: 100%;
}

#data {
    width: 100%;
    height: 100px;
}

#param_panel {
    display:block;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

#param_panel #params {
    display: table-cell;
}


#cluster_button {
    width: 100% ;
    height: 4em;
    display:table ;
}