html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#status {
    text-align: center;
}

#status_alert {
    width: 50%;
    text-align: center;
    display: inline-block;
}

fieldset {
    margin-top: 50px;
    margin-bottom: 50px;
}


#welcome {
    text-align: center;
    font-size: 10em;
    height: 100%;
}

#logo, #enter {
    height: 50%;
    width:100%;
    vertical-align: middle;
}

#logo img {
    max-width:100%;
    max-height:100%;
}

#enter i {
    max-width:100%;
    max-height:100%;
}

/* Filter */
#filter {
    display: none;
    margin: 20px;
}

#filter h4 {
    text-align: center;
}
#filterTimeForm {
    display: none;
}


/* Cluster */

#cluster {
    display: none;
    text-align: center;
}

#trends {
    display: none;
    text-align: center;
}

/* Results */

#results {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
