#resultsMap {
    display: inline-block;
    width: 80%;
    height: 800px;
    margin: 20px;
}

#trend_results {
    height: 300px;
    width: 50%;
    display: inline-block;
}

.resultsChart {
    height: 300px;
}

.charts-row {
    display: inline-block;
    width:90%;
    border-bottom: 0;
    padding: 0 0 10px 0;
    margin-bottom: 50px;
}

.chart-label {
    color: #595959;
    margin-bottom: 5px;
}

.gm-style-iw + div {display: none;}